.footer {
  background-color: var(--background-2);
}

.footer-section {
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.footer-logo-menu-contact-box {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin-bottom: 80px;

  gap: 40px;

  @media screen and (min-width: 375px) {
    width: 296px;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    margin-bottom: 100px;

    gap: unset;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 125px;
  }
}

.footer-logo-box {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 14px;

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 768px) {
    width: 265px;

    gap: 25px;
  }

  @media screen and (min-width: 1280px) {
  }
}

.footer-tagline {
  display: block;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 129%;
  color: var(--main-text);

  @media screen and (min-width: 375px) {
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 125%;
  }

  @media screen and (min-width: 1280px) {
  }
}

.footer-menu-contact-box {
  display: flex;
  flex-direction: column;

  gap: 40px;

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 768px) {
    gap: 64px;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    gap: 121px;
  }
}

.footer-menu-list {
  display: flex;
  flex-direction: column;

  gap: 14px;

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 768px) {
    gap: 25px;
  }

  @media screen and (min-width: 1280px) {
  }
}

.footer-menu-item {
}

.footer-menu-link {
  display: block;

  cursor: pointer;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: var(--main-text);

  @media screen and (min-width: 375px) {
    font-size: 28px;
  }

  @media screen and (min-width: 768px) {
    font-size: 32px;
  }

  @media screen and (min-width: 1280px) {
  }
}

.footer-contact-list {
  display: flex;
  flex-direction: column;

  gap: 14px;

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 768px) {
    gap: 25px;
  }

  @media screen and (min-width: 1280px) {
  }
}

.footer-contact-item {
}

.footer-contact-link {
  display: block;

  width: 100%;

  font-family: var(--font-family);
  font-weight: 600;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: var(--main-text);

  @media screen and (min-width: 375px) {
    width: 179px;

    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    width: 215px;

    font-size: 18px;
    line-height: 111%;
  }

  @media screen and (min-width: 1280px) {
  }
}

.footer-privacy-policy {
}

.footer-privacy-policy-list {
  display: flex;
  justify-content: space-between;
}

.footer-privacy-policy-item {
  display: block;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 133%;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);

  @media screen and (min-width: 375px) {
    font-size: 12px;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 111%;
  }

  @media screen and (min-width: 1280px) {
  }
}

// Стили для иконки прокрутки сайта вверх
.scrollup {
  display: none;

  position: fixed;
  right: 20px;
  bottom: 0px;

  padding: 4px 10px;

  cursor: pointer;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  text-align: center;
  font-size: 20px;

  color: #fff;
  background-color: var(--hover-btn);

  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}
