.how-it-works {
  background-color: var(--background);
}

.how-it-works-box {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
  }
}

.how-it-works-img-box {
  display: block;
  width: 100%;

  padding: 40px 20px;

  background-color: var(--background-2);

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 768px) {
    padding: 100px 64px;
  }

  @media screen and (min-width: 1280px) {
    width: 630px;
    padding: 100px;
  }
}

.how-it-works-img {
  display: block;

  height: 450px;

  border-radius: 30px;

  background-color: rgba(20, 20, 20, 0.3);

  object-fit: cover;

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 768px) {
    height: 640px;
  }

  @media screen and (min-width: 1280px) {
    height: 559px;
  }
}

.how-it-works-steps-box {
  display: block;
  width: 100%;

  padding: 80px 20px;

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 768px) {
    padding: 100px 159px;
  }

  @media screen and (min-width: 1280px) {
    width: 650px;
    padding: 100px;
  }
}

.how-it-works-steps-title {
  display: block;

  width: 100%;

  margin-bottom: 20px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--main-text);

  @media screen and (min-width: 375px) {
    font-size: 28px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 25px;

    font-size: 32px;
  }

  @media screen and (min-width: 1280px) {
  }
}

.how-it-works-steps-title-accent {
  color: rgba(251, 251, 251, 0.3);
}

.how-it-works-steps-text {
  display: block;

  width: 100%;

  margin-bottom: 40px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 129%;
  color: var(--main-text);

  @media screen and (min-width: 375px) {
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;

    font-size: 16px;
    line-height: 125%;
  }

  @media screen and (min-width: 1280px) {
  }
}

.how-it-works-steps-list {
  display: flex;
  flex-direction: column;

  gap: 20px;

  counter-reset: section;
}

.how-it-works-steps-item {
  display: flex;
  align-items: center;

  position: relative;

  width: 100%;
  height: 76px;

  padding-left: 100px;
  padding-right: 25px;

  border-radius: 15px;

  background-color: var(--main-text);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);

  counter-increment: section;

  @media screen and (min-width: 375px) {
    font-size: 12px;
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 125%;
  }

  @media screen and (min-width: 1280px) {
  }

  &::before {
    display: flex;
    justify-content: center;
    align-items: center;

    content: counter(section);

    z-index: 2;

    position: absolute;
    left: 29px;
    top: 17px;

    width: 42px;
    height: 42px;

    border-radius: 50%;

    box-shadow: 0 0 0 5px rgba(122, 49, 69, 0.3);

    background-color: var(--background-2);

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: var(--main-text);
  }

  &:hover {
    transform: scale(1.07);
  }
}

.how-it-works-steps-item-text {
  display: block;
}

.how-it-works-steps-item-text-form {
  width: 176px;

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 768px) {
    width: 100%;
  }

  @media screen and (min-width: 1280px) {
  }
}

.how-it-works-steps-item-accent {
  font-weight: 700;
  color: var(--text);
}
