.reviews {
}

.reviews-title {
  display: block;

  width: 100%;

  margin-bottom: 20px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 46px;
  line-height: 104%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--text);

  @media screen and (min-width: 375px) {
    font-size: 48px;
  }

  @media screen and (min-width: 768px) {
    width: 553px;

    margin-bottom: 25px;

    font-size: 64px;
    line-height: 100%;
  }

  @media screen and (min-width: 1280px) {
  }
}

.reviews-title-special {
  color: var(--background);
}

.reviews-text {
  display: block;

  width: 100%;

  margin-bottom: 20px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 129%;
  color: var(--text);

  @media screen and (min-width: 375px) {
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    width: 553px;
    margin-bottom: 50px;

    font-size: 16px;
    line-height: 125%;
  }

  @media screen and (min-width: 1280px) {
  }
}

.reviews-list-box {
  position: relative;

  &:hover {
    .reviews-list-btn {
      background-color: rgba(122, 49, 69, 0.2);
    }

    .reviews-list-btn-icon {
      fill: rgba(122, 49, 69, 0.3);
    }
  }
}

.reviews-list {
  display: flex;

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 768px) {
    gap: 18px;
  }

  @media screen and (min-width: 1280px) {
    gap: 25px;
  }
}

.reviews-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  padding: 20px 16px 38px 16px;

  border-radius: 24px;
  border: 1px solid rgba(122, 49, 69, 0.3);

  background-color: var(--main-text);

  @media screen and (min-width: 375px) {
    width: 335px;
  }

  @media screen and (min-width: 768px) {
    width: 343px;

    padding: 20px;
  }

  @media screen and (min-width: 1280px) {
  }
}

.mob {
  display: none;

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1280px) {
  }
}

.tablet {
  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.reviews-item-animateNext {
  animation: animateNext 400ms ease-in forwards;
}

.reviews-item-animatePrev {
  animation: animatePrev 400ms ease-in forwards;
}

@keyframes animateNext {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes animatePrev {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0);
  }
}

.reviews-img {
  display: block;

  width: 56px;
  height: 56px;

  margin-bottom: 24px;

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
  }
}

.reviews-caption-title {
  display: block;

  margin-bottom: 8px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #040306;

  @media screen and (min-width: 375px) {
    width: 282px;

    font-size: 16px;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 110%;
    color: var(--text);
  }

  @media screen and (min-width: 1280px) {
    font-size: 18px;
  }
}

.reviews-caption-text {
  display: block;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 129%;
  text-align: center;
  color: rgba(4, 3, 6, 0.4);

  @media screen and (min-width: 375px) {
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 140%;
    color: rgba(20, 20, 20, 0.4);
  }

  @media screen and (min-width: 1280px) {
  }
}

.reviews-list-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 130px;
  height: 100%;

  position: absolute;
  top: 0;

  cursor: pointer;

  background-color: rgba(122, 49, 69, 0.1);

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 768px) {
    width: 175px;
  }

  @media screen and (min-width: 1280px) {
  }

  &:hover {
    .reviews-list-btn-icon {
      transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
      fill: rgba(122, 49, 69, 0.6);
    }
  }
}

.reviews-list-btn-prev {
  left: 0;

  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.reviews-list-btn-next {
  right: 0;

  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.reviews-list-btn-icon {
  width: 75px;

  fill: rgba(122, 49, 69, 0.1);

  @media screen and (min-width: 375px) {
    width: 100px;
  }

  @media screen and (min-width: 768px) {
    width: 125px;
  }

  @media screen and (min-width: 1280px) {
  }
}
