.your-order {
  background-color: var(--background-2);
}

.your-order-title {
  display: block;

  width: 100%;

  margin-bottom: 29px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 46px;
  line-height: 104%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--main-text);

  @media screen and (min-width: 375px) {
    font-size: 48px;
  }

  @media screen and (min-width: 768px) {
    width: 640px;

    margin-bottom: 25px;

    font-size: 64px;
    line-height: 100%;
  }

  @media screen and (min-width: 1280px) {
    width: 751px;
  }
}

.your-order-title-special {
  color: rgba(251, 251, 251, 0.3);
}

.your-order-text {
  display: block;

  width: 100%;

  margin-bottom: 40px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 129%;
  color: var(--main-text);

  @media screen and (min-width: 375px) {
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    width: 640px;

    margin-bottom: 50px;

    font-size: 16px;
    line-height: 125%;
  }

  @media screen and (min-width: 1280px) {
    width: 742px;
  }
}

.your-order-box-form-follow {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 768px) {
    gap: 25px;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    gap: 24px;
  }
}

.your-order-form-box {
  display: block;
  width: 100%;

  border-radius: 30px;
  padding: 40px 20px;

  background-color: var(--main-text);

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 768px) {
    width: 628px;

    padding: 50px 100px;
  }

  @media screen and (min-width: 1280px) {
    width: 529px;

    padding: 50px;
  }
}

.your-order-form-title {
  display: block;

  width: 100%;

  margin-bottom: 40px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  line-height: 108%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--text);

  @media screen and (min-width: 375px) {
    font-size: 24px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1280px) {
  }
}

.your-order-form-title-special {
  color: var(--background-2);
}

.your-order-form-title-accent {
  color: var(--background);
}

.your-order-form {
  display: flex;
  flex-direction: column;
}

.your-order-form-input {
  display: block;

  width: 100%;
  height: 46px;

  padding: 14px 16px;
  margin-bottom: 15px;

  outline: none;

  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 30px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--text);

  @media screen and (min-width: 375px) {
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    height: 52px;

    font-size: 16px;
    line-height: 125%;
  }

  @media screen and (min-width: 1280px) {
  }

  &::placeholder {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: var(--text);

    @media screen and (min-width: 375px) {
      font-size: 14px;
    }

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 125%;
    }

    @media screen and (min-width: 1280px) {
    }
  }

  &:focus {
    border-color: var(--background-2);
  }

  &:not(:placeholder-shown):invalid {
    border-color: red;
  }

  &:not(:placeholder-shown):valid {
    border-color: green;
  }
}

.your-order-form-textarea {
  display: block;
  width: 100%;
  height: 91px;

  padding: 14px 16px;

  margin-bottom: 20px;

  outline: none;

  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 20px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: var(--text);

  @media screen and (min-width: 375px) {
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    height: 95px;

    margin-bottom: 25px;
  }

  @media screen and (min-width: 1280px) {
  }

  &:focus {
    border-color: var(--background-2);
  }

  &::placeholder {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: var(--text);

    @media screen and (min-width: 375px) {
      font-size: 14px;
    }

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 125%;
    }

    @media screen and (min-width: 1280px) {
    }
  }
}

.your-order-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;

  cursor: pointer;

  border-radius: 30px;
  border: none;

  background-color: var(--background);

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--main-text);

  @media screen and (min-width: 375px) {
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    height: 52px;

    font-size: 18px;
    line-height: 111%;
  }

  @media screen and (min-width: 1280px) {
  }
}

.your-order-follow-box {
  display: flex;
  flex-direction: column;

  width: 100%;

  border-radius: 30px;
  padding: 40px 20px;

  background: var(--background);

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 768px) {
    width: 628px;

    padding: 50px;
  }

  @media screen and (min-width: 1280px) {
    width: 527px;
  }
}

.your-order-follow-img {
  display: block;
  width: 100%;

  border-radius: 15px;

  margin-bottom: 20px;

  object-fit: cover;

  background-color: rgba(20, 20, 20, 0.3);

  @media screen and (min-width: 375px) {
    width: auto;
    height: 273px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 1280px) {
  }
}

.your-order-follow-title {
  display: block;

  margin-bottom: 14px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);

  @media screen and (min-width: 375px) {
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 111%;
  }

  @media screen and (min-width: 1280px) {
  }
}

.your-order-follow-list {
  display: flex;
  flex-wrap: wrap;

  gap: 8px;

  @media screen and (min-width: 375px) {
  }

  @media screen and (min-width: 768px) {
    gap: 12px;
  }

  @media screen and (min-width: 1280px) {
  }
}

.your-order-follow-item {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 22px;
  line-height: 108%;
  letter-spacing: -0.01em;
  color: var(--main-text);

  @media screen and (min-width: 375px) {
    font-size: 24px;
  }

  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 100%;
  }

  @media screen and (min-width: 1280px) {
  }
}

.your-order-form-link {
  color: var(--main-text);
}
