* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);

  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none; /* убирает все подчеркивания */
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
